@model IEnumerable<TravelERP.Models.Developer>

@{
    ViewData["Title"] = "Index";
}

<h2>رسائل المطور</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">إنشاء</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">تعديل</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">إلغاء</a>
            </td>
        </tr>
}
    </tbody>
</table>
