@model IEnumerable<TravelERP.Models.ViewModel.Transactions>
@*Head Start*@
<div class="row align-items-center">
    <div class="col">
        <img src="@Url.Content(@ViewBag.CompanyLogo)" height="100" width="100" />
    </div>
    <div class="col">
        <div class="form-control border-info  shadow-sm rounded  h-75 ">
            <h3 class="text-center ">تقرير @ViewBag.BankName</h3>

        </div>
        <label class="control-label font-weight-bold">لتاريخ</label> : @Convert.ToDateTime(TempData["StartDate"]).ToShortDateString()

    </div>
    <div class=" col">
        <h3 class="text-center ">@Url.Content(@ViewBag.CompanyName)</h3>
        <h3 class="text-center ">@Url.Content(@ViewBag.CompanyNameE)</h3>
    </div>
</div>


<hr class="col-12  border-dark " style="border-width:medium">
@*Head End*@
<div class="form-group row col-12">
    <div class="col-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EId)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.EDate)
                        </th>*@
                    @*<th>
                            @Html.DisplayName("تراكمى")
                        </th>*@
                    <th>
                        @Html.DisplayName("الايرادات")
                    </th>
                    @*<th>
                            @Html.DisplayName("المصروفات")
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Statement)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="font-weight-bolder">
                    <td>
                        @Html.DisplayName("#")
                    </td>
                    <td>
                        @ViewBag.startTransactions
                    </td>
                    <td>
                        @Html.DisplayName("رصيد اول الفتره")
                    </td>

                </tr>
                @*@{decimal runningTotal = @ViewBag.startTransactions; }*@
                @foreach (var item in Model.Where(a => a.Debit != 0))
                {
                    //runningTotal += item.Debit - item.Credit;

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EId)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.EDate)
                            </td>*@
                        @*<td>
                                @runningTotal
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Debit)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Credit)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Statement)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div class="col-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EId)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.EDate)
                        </th>*@
                    @*<th>
                            @Html.DisplayName("تراكمى")
                        </th>*@
                    @*<th>
                            @Html.DisplayName("الايرادات")
                        </th>*@
                    <th>
                        @Html.DisplayName("المصروفات")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Statement)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @*@{decimal runningTotal = @ViewBag.startTransactions; }*@
                @foreach (var item in Model.Where(a => a.Credit != 0))
                {
                    //runningTotal += item.Debit - item.Credit;

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EId)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.EDate)
                            </td>*@
                        @*<td>
                                @runningTotal
                            </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Debit)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Credit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Statement)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>
<div class="form-group row col-12">
    <div class="col-6">
        <table class="table">
            <tr class="font-weight-bolder table-secondary">
                <td>
                    @Html.DisplayName("#")
                </td>
                <td>
                    @(Model.Where(a => a.Type == "نقدى").Sum(i => i.Debit) + ViewBag.startTransactions)
                </td>
                <td>
                    @Html.DisplayName("إجمالى الايرادات")
                </td>
            </tr>

        </table>
    </div>
    <div class="col-6">
        <table class="table">
            <tr class="font-weight-bolder table-secondary">
                <td>
                    @Html.DisplayName("#")
                </td>
                <td>
                    @Model.Where(a => a.Type == "نقدى").Sum(i => i.Credit)
                </td>
                <td>
                    @Html.DisplayName("إجمالى المصروفات")
                </td>

            </tr>
        </table>
    </div>

</div>

<div class="row align-items-center">
    <div class="col">
        <div class="form-control border-light  shadow-sm rounded  h-75 " style="width:500px;margin:auto;margin-top:10px">
            <table class="table">
                @*<tr>
                    <td>رصيد اول الفتره</td>
                    <td>@ViewBag.startTransactions @(@ViewBag.CompanyId == 6 ? "درهم" : "جنيه")</td>
                </tr>

                <tr>
                    <td>رصيد الايرادات</td>
                    <td>@Model.Where(a => a.Type == "نقدى").Sum(i => i.Debit) @(@ViewBag.CompanyId == 6 ? "درهم" : "جنيه")</td>
                </tr>
                <tr>
                    <td>رصيد المصروفات</td>
                    <td>@Model.Where(a => a.Type == "نقدى").Sum(i => i.Credit) @(@ViewBag.CompanyId == 6 ? "درهم" : "جنيه")</td>
                </tr>*@
                <tr class="table-dark">
                    <td class="font-weight-bold">رصيد اليوميه (نقدى)</td>
                    <td class="font-weight-bold">@(@ViewBag.startTransactions + Model.Where(a => a.Type == "نقدى").Sum(i => i.Debit) - Model.Where(a => a.Type == "نقدى").Sum(i => i.Credit)) @(@ViewBag.CompanyId == 6 ? "درهم" : "جنيه")</td>
                </tr>

                <tr class="table-dark">
                    <td class="font-weight-bold">ايداعات البنوك</td>
                    <td class="font-weight-bold">@(Model.Where(a => a.Type != "نقدى").Sum(i => i.Debit) - Model.Where(a => a.Type != "نقدى").Sum(i => i.Credit)) @(@ViewBag.CompanyId == 6 ? "درهم" : "جنيه")</td>
                </tr>

            </table>
        </div>

    </div>
</div>
