@model TravelERP.Models.ViewModel.Transactions

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transactions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Debit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Debit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Statement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Statement)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
