@model TravelERP.Models.SalaryData

@{
    ViewData["Title"] = "Details";
}

<h2>معلومات</h2>

<div>
    <h4>ربط المرتبات</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMP_FingerPrintName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMP_FingerPrintName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMP_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMP_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMP_Salary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMP_Salary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMP_OverTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMP_OverTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMP_Early)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMP_Early)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMP_Late)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMP_Late)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMP_Absent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMP_Absent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMP_WhatsApp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMP_WhatsApp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMP_insurance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMP_insurance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-primary">العوده للقائمه الرئيسيه</a>
</div>
