@model IEnumerable<TravelERP.Models.SalaryAttendance>

@{
    ViewData["Title"] = "Index";
}

<h2>الرئيسيه لجهاز البصمه</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">إنشاء</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Normal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Actual)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Late)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Early)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Absent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OT)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Normal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Late)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Early)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Absent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Company_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">تعديل</a> |
                <a asp-action="Details" asp-route-id="@item.Id">معلومات</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
